html,body{
	height=100%;
}
#wrap{
	min-height:100%;
}
#main{
	overflow:auto;
	padding-bottom: 150px;
}
body{ 
margin-top:20px;
 }
.panel-title {display: inline;
font-weight : bold;}
.pl-ziro { padding-left: 0px; }
.media-heading{
	font-size: 15px;
}